*{
  margin: 0;
  padding: 0;  
}
div.Corpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(206, 51, 51),rgb(241, 115, 77), rgb(240, 143, 87));
}
div.Formulario{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(rgb(63, 102, 60), rgb(41, 54, 42));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
    font-stretch: expanded;
    font-size: 22px;
}
input{
    border-radius: 5px;
}
input.Botao{
    width: 150px;
    height: 30px;
    padding: 1px;
    border-radius: 250px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
    font-stretch: expanded;
    background-image: linear-gradient(rgb(226, 50, 50),rgb(49, 4, 4));
}
input.Botao:hover{
    background-image: linear-gradient(rgb(45, 184, 45),rgb(49, 4, 4));
}
input.Botao:active{
    background-image: linear-gradient(rgb(10, 145, 10),rgb(12, 1, 1));
}
div.ContainerBotoes{
    display: flex;
    flex-direction: row;
}
div.Lista{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(rgb(63, 102, 60), rgb(41, 54, 42));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
    font-stretch: expanded;
    font-size: 22px;
}